.blog-featured-image {
  max-width: 100%;
  padding-top: 50%;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-featured-image.square {
  padding-top: 100%;
}

.blog-featured-image.portrait {
  padding-top: 200%;
}

hr {
	border: solid $primary-color;
	border-width: 1px 0 0;
}

.post-meta {
	margin-top:1rem;
}

.post-meta time {
	color:$primary-color;
	font-size:1rem;	
	text-transform: uppercase;
}


// body.home.blog article.type-post {
article.type-post, .post-type-archive article {
	border:1px solid $primary-color;
	// padding:1rem 0 0 1rem;
	padding:0;
	margin-bottom:1rem;
}

article .post-body {
	padding:1rem 0 0 1rem;
}

.read-more {
	margin:0;
	font-weight:bold;
}

.read-more:hover, article.type-post h2 a:hover {
	text-decoration:none;
}