.blog-featured-image {
  max-width: 100%;
  padding-top: 50%;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

hr {
	border: solid $primary-color;
	border-width: 1px 0 0;
}

.post-meta {
	margin-top:1rem;
}

.post-meta time {
	color:$primary-color;
	font-size:1rem;	
	text-transform: uppercase;
}

body.home.blog article.type-post {
	border:1px solid $primary-color;
	padding:1rem 0 0 1rem;
	margin-bottom:1rem;
}

.read-more {
	margin:0;
}