body.single-reviews {
	.voltscore {
		.score {
			font-size:4rem;
			background-color:lighten($ov-green,50%);
			color:$white;
			padding:0 1rem 1rem;
		}
	}
}

.review-model-photos-slider {
	margin:20px 0;
}