/* Shops Styles */

.single-shops .wp-post-image {
	margin-bottom:1rem;
}

.shop_address, .shop_meta  {
	margin:1rem 0;
	background-color:#eee;
	padding: 2rem;
}

.shop_address .column.small-2 {
	padding:0;
}

.shop_address i.fa.fa-map-marker:before {
	display:inline-block;
	font-size:2rem;
	margin:1rem 0 0 1rem;
}

.single-shops .gallery-item dd {
	display:none;
}