// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(32);
}

.top-bar .name {
	h1 a { font-weight: 500; }
}

.left-off-canvas-menu li {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.left-off-canvas-menu li a {
	color:#fff;
	text-transform: uppercase;
	font-weight:bold;
}

.social-icons a {
	display: inline-block;
	padding: 1rem;
	color:rgba(0,0,0,1);
	font-size:1.5rem;
	transition:0.6s;
}

.social-icons a:hover {
	color:rgba(0,0,0,0.7);
	background:rgba(0,0,0,0.1);
	transition:0.6s;
}

.top-bar-section ul.left li, .top-bar-section ul.left li:hover, .top-bar-section ul.left li a, .top-bar-section ul.left li a:hover {
  background-color: transparent !important;
  background: transparent !important;
}

img.logo {
	height:60%;
	width:auto;
	margin:0;
}

footer img.logo {
	height:2rem;
	margin:1rem 0;
}

@media #{$medium-up}{
	img.logo {
		height:2rem;
		margin:1rem 0;
	}
}