// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(32);
}

.top-bar .name {
	h1 a { font-weight: 500; }
}

.left-off-canvas-menu li {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.left-off-canvas-menu li a {
	color:#fff;
	text-transform: uppercase;
	font-weight:bold;
}

// A more subtle background color for the active menu item
.top-bar-section li.active:not(.has-form) a:not(.button)  {
	background: #272727;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: #202020;
}

.top-bar-section ul.left li, .top-bar-section ul.left li:hover, .top-bar-section ul.left li a, .top-bar-section ul.left li a:hover {
  background-color: transparent !important;
  background: transparent !important;
}

img.logo {
	height:60%;
	width:auto;
	margin:0;
}

footer img.logo {
	height:2rem;
	margin:1rem 0;
}

@media #{$medium-up}{
	img.logo {
		height:2rem;
		margin:1rem 0;
	}
}